div.card {
    margin-top: 70px;
    margin-left: 25%;
    margin-right: 25%;
}

button {
    margin-left: 10px;
    margin-right: 10px;
}

input {
    color: white;
}

p.error {
    color: white;
}

img.perfil {
    border-radius: 100%;
}

div.perfil {
    text-align: center;
}

label {
    color: lightgray;
}