<app-menu></app-menu>
<div class="row">
    <div class="col s12 m12">
      <div class="card red lighten-1 card z-depth-4">
        <div class="card-content white-text">
          <span class="card-title">Detalle de Tarea</span><hr>
          <h5>Descripcion</h5>{{tarea.descripcion}}
          <h5>Fecha de inicio</h5>{{tarea.fechaInicio | date: 'dd/MM/yyyy'}}
          <h5>Fecha limite</h5>{{tarea.fechaLimite | date: 'dd/MM/yyyy'}}
          <h5>Estado</h5>{{tarea.estado}}
          <h5 *ngIf="tarea.estado == 'Completa'">Fecha de finalizacion</h5><span *ngIf="tarea.estado == 'Completa'">{{tarea.fechaFin | date: 'dd/MM/yyyy'}}</span>
          <h5>Lugar</h5>{{tarea.lugar}}<span *ngIf="tarea.lugar == ''">-Sin especificar-</span>
          <h5>Asignador</h5>{{asignador.nombre}} {{asignador.apellido}}
          <h5 *ngIf="!(tarea.archivo == '' || tarea.archivo == null)">Resolucion</h5>
          <!--<div class="pdf">
            <pdf-viewer [src]="'http://localhost:3000/upload/ProcesoPPSV2009.pdf'" [zoom]="0.5" [show-all]="false" [stick-to-page]="true" [page]="1" [render-text]="true" style="display: block;"></pdf-viewer>
          </div>-->
          <!--Hacer generico para cada tarea asignada y ver nombre archivos en carpeta upload-->
          <a *ngIf="!(tarea.archivo == '' || tarea.archivo == null)" href="{{URL_API}}{{tarea.archivo}}" target="_blank">Abrir archivo en otra pestaña</a>
        </div>
      </div>
    </div>
</div>
<div>
    <button class="waves-effect waves-light btn red" (click)="goBack()">Volver</button>
</div>