<app-menu></app-menu>
<div class="login z-depth-4">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="frmLogin" class="login-container" (ngSubmit)="login(frmLogin)">
      <p><input type="usuario" formControlName="nombreUsuario" placeholder="Usuario"></p>
      <p><input type="password" formControlName="contraseña" placeholder="Contraseña"></p>
      <p class="error" *ngIf="err == 'Datos incorrectos'">*Datos incorrectos</p>
      <p><input type="submit" value="Log in" [disabled]="frmLogin.invalid"></p>
    </form>
</div>