<nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">Sistema de Asignación de Tareas</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="/api/usuarios" *ngIf="isLogged">Listado Usuarios</a></li>
        <li><a routerLink="/api/agregar-usuario" *ngIf="!isLogged">Registrar</a></li>
        <li><a routerLink="/api/tareas/{{currentUser}}" *ngIf="isLogged">Mis tareas</a></li><!--tareas creadas por usuario + crear y asignar tarea-->
        <li><a routerLink="/api/usuarios/{{currentUser}}/tareas" *ngIf="isLogged">Tareas pendientes</a></li><!--tareas asignadas al usuario + completar tarea-->
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/api/configuracionUsuario" *ngIf="isLogged">Configuracion de Usuario</a></li>
        <li><a routerLink="/api/login" *ngIf="isLogged">Cerrar Sesion</a></li>
      </ul>
    </div>
</nav>