<app-menu></app-menu>
<div>
    <h3>Listado de usuarios</h3>
</div>
<div class="container">
    <div>
        <app-search-box (listUsuarios)="updateList($event)"></app-search-box>
        <table class="striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Tareas</th>
                    <th>Detalle</th>
                    <th>Contacto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios$ | async">
                    <td *ngIf="usuario.nombreUsuario != currentUser">{{usuario.nombre}}</td>
                    <td *ngIf="usuario.nombreUsuario != currentUser">{{usuario.apellido}}</td> 
                    <td *ngIf="usuario.nombreUsuario != currentUser">{{usuario.nombreUsuario}}</td>
                    <td *ngIf="usuario.nombreUsuario != currentUser">
                        <a routerLink="/api/usuarios/{{usuario.nombreUsuario}}/tareas" class="btn-floating waves-effect waves-light red"><i class="material-icons">event_note</i></a>
                    </td>
                    <td *ngIf="usuario.nombreUsuario != currentUser">
                        <a routerLink="/api/usuarios/{{usuario.nombreUsuario}}" class="btn-floating waves-effect waves-light red"><i class="material-icons">description</i></a>
                    </td>
                    <td *ngIf="!usuarioSesion.contactos.includes(usuario.nombreUsuario) && usuario.nombreUsuario != currentUser">
                        <button (click)="agregarContacto(usuario.nombreUsuario)" class="btn-floating waves-effect waves-light red" *ngIf="usuario.nombreUsuario != currentUser"><i class="material-icons">add</i></button>
                    </td>
                    <td *ngIf="usuarioSesion.contactos.includes(usuario.nombreUsuario) && usuario.nombreUsuario != currentUser">
                        <button (click)="eliminarContacto(usuario.nombreUsuario)" class="btn-floating waves-effect waves-light red" *ngIf="usuario.nombreUsuario != currentUser"><i class="material-icons">clear</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>